body {
    font-family: 'Lato';
    background-color: #e8eaea;
}
/* Navbar */



.navbar {
    background-color: rgba(0, 0, 0, .5);
    padding-top: 10px;
    height: 75px;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    width: 100%;
    z-index: 9999;
    position: absolute;
}

.nav {
    display: inline-block;
    text-align: center;
}

.navbar-form {
    text-align: center;
    display: inline-block;
}

.navbar-nav>li>a {
    padding-bottom: 1px;
    padding-top:10px;
    margin-top: 5px;
    color: white;
    text-decoration: none;
}

.navbar-nav>li>a:focus {
    background-color: unset;
}

.nav .open>a {
    background-color: unset !important;
}

.nav .open>a:focus {
    background-color: unset !important;
}

.dropdown-menu>li>a:hover {
    background-color: #E5E5E5 !important;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #49ada6;
}

.navbar li a:hover {
    background-color: #49ada6;    
}

.navbar li a:active {
    background-color: #49ada6; 
}

.aidemenu:hover{
    background-color: unset !important;
}

.navbar-brand img{
    width: 150px;
    margin-top: -20px;
}

.navbar-brand {
    margin-right: 40px;
}

.btnnavbar {
    background-color: #49ada6;
    border-radius: 5px;
}

.btnnavbar p {
    color: white;
}

.searchmenuinput {
    border-left: none;
}
.input-group-addon {
    background-color: white;
    border-right: none;
}

.fa-angle-down {
    margin-left: 5px;
}

.fa-eye {
    margin-right: 5px;
}

.dropdown-toggle {
    border-radius: 5px 0 0 5px;
}


/* Homepage */

.fa-btn {
    margin-right: 6px;
}
        
.eventstitle {
    text-align: center;

}

.imgevent {
    width: 100%;
    height: auto;
}

.borderevent {
    margin-top: 5%;
    background-color: white;

}

.btnevent {
    float: right;
    border: none;
    border-radius: 3px;
    background-color: #49ada6;
    margin-top: -7%;
    margin-right: 2%;
    padding: 3% 6%;
}
.btneventDelete{
    float: right;
    border: none;
    border-radius: 3px;
    background-color: #d9534f;
    margin-top: -7%;
    margin-right: 2%;
    padding: 3% 6%;
    color: white;
}


.btnevent a {
    color: white;
    font-size: 16px;
}

.placesevent {
    float: left;
    margin-top: 2%;
    padding-bottom: 2%;
    color: #66868c;
    font-size: 14px;
}

.placesevent i {
    font-size: 20px;
}

.eventa {
    color: grey;
    font-size: 12px;
}

.bodyevent {
    padding-right: 3%;
    padding-left: 3%;
    padding-bottom: 3%;
}

.h4index {
    height: 43px;
}
.bodyevent h4 {
    margin-bottom: 10px; 
}

.contentevent {
    overflow: hidden;
    height: 40px;
}

.contentevent p {
    margin-bottom: 0;
}

.titlehr {
    border: 2px solid black;
}

.h1event {
    margin-bottom: 10px;
    margin-top: -2%;
}

.eventstitle {
    margin-top: -0.15%;
}

.dateevent {
    display: none;
}

.priceevent {
    float: right;
    z-index: 100;
    position: relative;
    color: white;
    margin-top: -63%;
    margin-right: 3%;
    background-color: #66868c;
    padding: 0.5%;
    opacity: 0.8;
}

.priceevent2{
    display: none;
    margin-top: 2%;
}

.priceevent2 i {

}

/* Footer */

footer {
    background-color: #342e2e;
    color: white;
    font-size: 16px;
}

.footer {
    text-align: center;
}

.footer h3{
    padding-top: 3%;
    padding-bottom: 3%;
}

.footer p{
    color: white;
}

.apropos {
  text-align: center;
  display: inline-block;
}

.apropos a{
    color: white;
    text-align: center;
}

.hrfooter {
    border: 0.5px solid white;
    margin-right: 30%;
    margin-left: 30%;
}

.presse a{
    color: white;
    text-align: center;
}

.footer a {
    color: white;
}

.copyrights {
    margin-top: 3%;
}
.letterblue {
    color: #49ada6;
}

.contact i{
    margin-top: 3%;
    background-color: #49ada6;
    width: 45px;
    height: 45px;
    padding: 2%;
    border-radius: 50%;
}

/* Login Register */

.login {
    margin-top: 22%;
    margin-bottom: 12%;
}

.btnlogin {
    background-color: #49ada6;
    color: white;
}

.alogin {
    color: grey;
    font-size: 12px;
}

.register {
    margin-top: 15%;
    margin-bottom: 5%;
}

/* Page Profil*/

.showorgatitle {
    margin-top: 2%;
}

.pageprofil {
    margin-top: 7%;
}
/* Create Event */

.createeventbody{
    background-color: white;
}

.createeventh {
    padding-top: 4.5%;
    padding-bottom: 0.2%;
    text-align: center;
    background-color: #66868c;
    color: white;
}

.number {
    background-color: #49ada6;
    font-size: 25px;
    color: white;
    padding: 0.2% 1%;
}

.numbevent {
    color: gray;
    margin-top: 2.5%;
}

.numbevent2 {
    color: gray;
}

.hrevent {
    border: 1px solid gray;
    margin-top: -8.5px;
}

.createeventmap iframe {
    pointer-events: none;
    height: 380px;
}

.trhead {
    background-color: #F5F5F5;
    border-bottom: 1px solid;
    border-color: #bfbfbf;
}

.createeventtable {
    width: 100%;
    text-align: left;
    border-radius: 5px;
    background-color: white;
    overflow: hidden;
}
.createeventtable tr{
    border-bottom: 1px solid;
    border-color: #bfbfbf;
}

.createeventtable td{
    padding: 1% 2%;
}

.createeventtable i{
    color: #49ada6;
    margin-right: 15%;
}

.createeventtable input {
    width: 90%;
}

.bordertableevent {
    border:1px solid;
    border-color: #bfbfbf;
    border-radius: 5px;
}

.parametresbillet {
    background-color: #F5F5F5;
    border-top:1px solid;
    border-color: #bfbfbf;
    padding: 1% 2%;
}

.billethr {
    border: 1px solid black;
    margin-top: -0.75%;
}

.ajoutbillet {
    text-align: center;
}

.btnbillet {
    background-color: #49ada6;
    border: none;
    border-radius: 3px;
    padding: 0.5% 1%;
    margin-right: 1%;
    margin-left: 1%;
}

.btnbillet a{
    color: white;
    text-decoration: none;
}

/* Show Event */

.bgshowevent {
    background-color: white;
}

.imgshowevent {
    padding: 0;
    width: 100%;
}

.showeventh {
    text-align: center;
    background-color: #66868c;
    color: white;
    margin-top: 0;
    padding: 0.3%;

}

.showeventtitle {
    clear: both;
}

.showeventh2 {
    font-weight: bold;
    color: #49ada6;
    float: left;
    margin-top: 1%;
}

.showeventh3 {
    float: right;
    margin-top: 1.5%;
}

.showeventcontent {
    margin-top: 1%;
    text-align: justify;
}

.showtags {
    font-weight: bold;
}

.showbtn i{
    background-color: #49ada6;
    width: 40px;
    height: 40px;
    padding: 7px;
    border-radius: 50%;
    color: white;
    margin-right: 1%;
    text-align: center;
}

.tableshow {
    width: 100%;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.tableshow td {
    border-bottom: 1px solid black;
    padding-bottom: 1%;
    padding-top: 1%;
}

.btnshow {
    background-color: #49ada6;
    font-size: 20px;
    border: none;
    border-radius: 3px;
}

.btnshow a {
    color: white;
    text-decoration: none;
}

.imgshoworga {
    margin-top: 5%;
    height: auto;
    width: 100% !important;
    border: 1px solid;
    border-color: #49ada6;
}
.descript{
    font-size: 0.9em;
}
.showbtn2 {
    text-align: right;
}
.showbtn2 i{
    background-color: #49ada6;
    width: 40px;
    height: 40px;
    padding: 7px;
    border-radius: 50%;
    color: white;
    margin-right: 1%;
    text-align: center;
}

.showorgacontent {
    text-align: justify;
}

.eventshowa {
    color: gray;
    text-decoration: none;
}

.btnshoworga {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.maps iframe{
    pointer-events: none;
    height: 600px;
}

.showeventmobileprofil {
    display: none;
}

/* Modification profil */

.modifprofilbg  {
    background-color: white;
}

/* Autres Pages */

.strong {
    font-weight: bold;
}
.contentother {
    text-align: justify;
    margin-top: 2%;
    font-size: 15px;
}

.whitetext p, a, h4 {
    color: white;
}

.contentother img {
    margin-bottom: 5%;
    margin-top: 2%;
}

.contentother h4 {
    font-weight: bold;
}

.quip {
    font-size: 16px;
    margin-bottom: 3.5%;
}

.services {
    margin-bottom: 3%;
    margin-top: 4%;
    font-size: 16px;
}
/* Contact */

.btncontact {
    text-align: center;
    margin-top: 1.5%;
    margin-bottom: 2%;
}

/* Dashboard admin */

.nopadding {
    padding-right: 0px;
    padding-left: 0px;
}
.spacemenu {
    height: 75px;
    background-color: gray;
    width: 100%;
}

.hcoladmin {
    text-align: center;
    background-color: #547980;
    color: white;
    margin: 0;
    padding: 30px;
}
.Conf {
    border-left: 2px solid white;
}


.filtres {
    background-color: #DADADA;
    color: black;
    margin-top: 3px;
    padding: 1% 2%;
}

.filtresul {
    list-style: none;
    margin-top: -8px;
    margin-bottom: 0px;
}

.filtersize{
}

.dashboardusers {
    background-color: #DADADA;
    /*min-height: 200px;*/
    overflow: auto;
    color: black;
    margin-top: 3px;
    padding: 2% 2%;
    display: block;
    padding-left: 0;
}

.dashboardusers img {
    width: 130%;
    margin-top: 8%;
    border-radius: 50%;
    display: block;
}

.infosdash {
}

.btndash {
    background-color: #65868d;
    float: right;
    padding: 5px 5px;
    border-radius: 5px;
}
.btndashEdit{
    background-color: #49ada6;
    float: right ;
    padding: 5px 5px;
    margin-right: 15px;
    border-radius: 5px;
}
.btndashDelete{
    background-color: #D9534F;
    float: right ;
    padding: 5px 5px;
    margin-right: 15px;
    border-radius: 5px;
    border: 0;
    color: white;
}

.btndash2 {
    background-color: #65868d;
    float: right;
    padding: 0 8%;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 10px;
}

.dashhead {
    background-color: #DADADA;
    border-radius: 15px;
    height: 50px;
    margin: 3% 0%;
}

.dashheadhr {
    border: 1px solid;
    border-color: #DADADA;
}
.dashhead h3 {
    margin-top: 10px;
}

.dashedituser {
    background-color: #DADADA;
    border-radius: 15px;
    padding: 2%;
    margin-bottom: 3%;
}

.dashedituser h4{
    color: black;
    text-align: center;
}

.dashedituser input {
    width: 100%;
}

.whitehr {
    border: 1px solid white;
    margin-top: 5px;
}

.dashuser p {
    font-size: 12px;
}

.dashuser .form-group {
    margin-bottom: 3px;
}

.marginbtm {
    margin-bottom: 10px;
}

.userororga1 {
    background-color: #36494c;
    text-decoration: none;
    text-align: center;
    padding: 6% 3%;
    font-size: 12px;
    border-radius: 5px 0px 0px 5px;
}

.userororga2 {
    background-color: #65868d;
    text-decoration: none;
    text-align: center;
    padding: 6% 3%;
    font-size: 12px;
    border-radius: 0px 5px 5px 0px;
}

.statutbtn {
    margin-top: 30px;
}

.dashsocialuser i{
    background-color: #44ada7 !important;
    padding: 5%;
    border-radius: 50%;
    width: 30px;
    text-align: center;
    margin-top: 20%;
}

.dashbtnright a{
    background-color: #65868d;
    text-decoration: none;
    text-align: center;
    padding: 6% 3%;
    font-size: 14px;
    border-radius: 5px;
    margin-bottom: 10px;
    display: block;
}

.dashsocialuser i:hover{
    color: white;
    text-decoration: none;
}

.dashtitleevent {
    margin-bottom: 5px;
    margin-top: 0px;
}

.dashdeleventbtn {

    text-align: center;
    margin-top: 2%;

}

.dashdeleventbtn a {
    background-color: #65868d;
    padding: 1% 30%;
    border-radius: 5px;
}
/* Général */

.bold {
    font-weight: bold;
    text-align: center;
}

.btnmobile {
    display: none;
}

.displaynoneweb {
    display: none;
}

.cadetblue {
    background-color: #44ada7 !important;
}

.darkcadetblue {
    background-color: #618f97;
    padding-bottom: 1%;
    padding-top: 2%;
    margin-top:-2%;
}

.darkslategray {
    background-color: #36494c;
    padding-bottom: 1%;
    padding-top: 1%;
}

.gray {
    color: gray !important;
}

.black a{
    color: black !important;
}

.black {
    color: black !important;
}

.whitebg {
    background-color: white;
}
/* Pagination styling */ 

.pagination { 
    display: inline-block; 
    padding-right: 0; 
    margin: 20px 0; 
    border-radius: 4px; 
    float: right; 
} 

.pagination>li { 
    display: inline 
} 

.pagination>li>a, .pagination>li>span { 
    position: relative; 
    float: right; 
    padding: 6px 12px; 
    line-height: 1.428571429; 
    text-decoration: none; 
    color: #333333; 
    background-color: #fff; 
    border: 1px solid #e4e4e4; 
} 

.pagination>li:first-child>a, .pagination>li:first-child>span { 
    margin-right: 0; 
    border-bottom-right-radius: 4px; 
    border-top-right-radius: 4px 
} 

.pagination>li:last-child>a, .pagination>li:last-child>span { 
    border-bottom-left-radius: 4px; 
    border-top-left-radius: 4px 
} 

.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus { 
    color: #fff; 
    background-color: #49ada6;
    border-color: #49ada6;
} 

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus { 
    z-index: 2; 
    color: #fff; 
    background-color: #66868c;
    border-color: #66868c; 
    cursor: default 
} 

.pagination>.disabled>span, .pagination>.disabled>span:hover, .pagination>.disabled>span:focus, .pagination>.disabled>a, .pagination>.disabled>a:hover, .pagination>.disabled>a:focus { 
    color: #777; 
    background-color: #fff; 
    border-color: #ddd; 
    cursor: not-allowed 
} 

.pagination-lg>li>a, .pagination-lg>li>span { 
    padding: 10px 16px; 
    font-size: 18px 
} 

.pagination-lg>li:first-child>a, .pagination-lg>li:first-child>span { 
    border-bottom-right-radius: 6px; 
    border-top-right-radius: 6px 
} 

.pagination-lg>li:last-child>a, .pagination-lg>li:last-child>span { 
    border-bottom-left-radius: 6px; 
    border-top-left-radius: 6px 
} 

.pagination-sm>li>a, .pagination-sm>li>span { 
    padding: 5px 10px; font-size: 12px 
} 

.pagination-sm>li:first-child>a, .pagination-sm>li:first-child>span { 
    border-bottom-right-radius: 3px; 
    border-top-rightt-radius: 3px 
} 

.pagination-sm>li:last-child>a, .pagination-sm>li:last-child>span { 
    border-bottom-left-radius: 3px; 
    border-top-left-radius: 3px 
}

.pagination>li>a, .pagination>li>span {
    float: left !important;
}

.searchmobile {
    display: none;
}

.adminborder {
    border: 1px solid;
    border-color: #DADADA;
}
.navbar-nav {
    float: none !important;
    text-align: center;
}

.inline button{
    display: inline-block;
}

.trbillet{
    margin-bottom: 5px !important;
}

.btnshowbillet {
    margin-left: 5px;
}

.hbillet {
    color: black;
}

/* Reponsive Homepage */

@media screen and (max-width: 767px) {

    .margintopmobile {
        margin-top: 75px;
    }

    .margintopmobile2 {
        margin-top: 100px;
    }

    select {
        border: 1px solid black !important;
    }

    .displaynone {
        display: none;
    }

    .displaynoneweb {
        display: block;
    }

    .centermobile {
        text-align: center;
    }

    .btnmobile {
        display: block;
        text-align: center;
    }

    .imgfullmobile {
        margin-right:-10%;
        margin-left:-10%;
        overflow: hidden;
    }
    
    .showeventmobileprofil {
        display: block;
    }

    .maps iframe {
        height: 350px;
        margin-top: 5%;
    }

    .btnevent {
        width: 100%;
        text-align: center;
        border-radius: 0;
        margin-top: 3%;
        margin-right: 0;
        padding: 1%;
        color: white;
        font-size: 16px;
    }
    .btneventDelete{
        width: 100%;
        text-align: center;
        border-radius: 0;
        margin-top: 3%;
        margin-right: 0;
        padding: 1%;
    }

    .btnevent a {
        font-size: 20px;
    }

    .priceevent {
        display: none;
    }

    .priceevent2 {
        display: inline-block;
        color: #66868c;
    }

    .dateevent {
        display: block;
        color: #66868c;
    }

    .navbar {
        padding: 0;
        background-color: #3C3C3C;
    }

    .fa-bars {
        color: white;
    }

    .navbar-brand img{
        margin-top: -5px;
    }

    .navbar-toggle {
        float: left;
    }

    .navbar-brand {
        float: none;
        display: inline-block;
        text-align: center;
        margin-right: 0;
    }
    
    .navbar-form{
        display: none;
    }
    .navbar-collapse {
        background-color: #B6B6B6;
        overflow: hidden;
        margin-top: 9px;
    }

    .fa-search {
        color: white;
        float: right;
    }

    .searchmobile {
        margin-right:15px; 
        float: right;
        width: 10%;
        display: block;
        margin-top: 5%;
    }

    .searchmobile a {
        margin-top: -45px;
    }
    
    .searchmenu {
        text-align: center;
        position: absolute;
        padding: 0;
        float: none;    
        top: -10px;
        margin: 0;
        width: 260px;
        border-color: #323232;
        border: 10px solid; 
        left: -700%;
    }

    .inputmobile {
        width: 100%;
    }

    .titleindex {
        display: none;
    }

    .fa-search2 {
        color: black;
        height: 20px;
    }

    /* Dash Admin */

    .dashboardusers img {
    width: 100%;
    }


}
.navbar-nav {
        float: none;
    }
@media screen and (min-width: 1050px) and (max-width: 1360px) {
    .navbar-brand {
        margin-right: 0px;
    }

    .navbar {
        padding-right: 0;
        padding-left: 0; 
    }

    .navbar-nav {
        float: none;
    }

    .h4index {
        height: 60px !important;
    }


}

@media screen and (min-width: 767px) and (max-width: 1050px) {
    .navbar-brand {
        margin-right: 0px;
    }

    .navbar-nav {
        float: none !important;
        text-align: center;
    }


    .navbar {
        padding-right: 0;
        padding-left: 0; 
    }

    .nav {
        display: block;
    }

    .navbar-left {
        width: 60%;
    }

    .navbar-right {
        float: left !important;
    }

}

@media screen and (min-width: 767px) and (max-width: 999px) {
    .aidemenudisplay {
        display: none !important;
    }

    .navbar {
        background-color: #323232;
    }
}

