body {
    font-family: 'Lato';
    background-color: #e8eaea;
}

/* Homepage */

.fa-btn {
    margin-right: 6px;
}
        
.eventstitle {
    text-align: center;

}

.imgevent {
    width: 100%;
    height: auto;
}

.borderevent {
    margin-top: 5%;
    background-color: white;
    margin-bottom: 3%;
}

.btnevent {
    float: right;
    border: none;
    border-radius: 3px;
    background-color: #49ada6;
    margin-top: -5%;
    margin-right: 2.5%;
    padding: 3% 6%;
}

.btnevent a {
    color: white;
    font-size: 16px;
}

.placesevent {
    float: left;
    margin-top: 2%;
    padding-bottom: 2%;
    color: #66868c;
    font-size: 18px;
}

.placesevent i {
    font-size: 20px;
}

.eventa {
    color: grey;
    font-size: 12px;
}

.bodyevent {
    padding-right: 3%;
    padding-left: 3%;
    padding-bottom: 3%;
}

.bodyevent h4 {
    margin-bottom: 10px; 
}

.contentevent {
    overflow: hidden;
}

.contentevent p {
    margin-bottom: 0;
}

.titlehr {
    border: 2px solid black;
}

.h1event {
    margin-bottom: 10px;
    margin-top: -2%;
}

.eventstitle {
    margin-top: -0.15%;
}

.dateevent {
    display: none;
}

.priceevent {
    float: right;
    z-index: 100;
    position: relative;
    color: white;
    margin-top: -63%;
    margin-right: 3%;
    background-color: #66868c;
    padding: 0.5%;
    opacity: 0.8;
}

.priceevent2{
    display: none;
    margin-top: 2%;
    color: gray;
}

/* Footer */

footer {
    background-color: #342e2e;
    color: white;
    font-size: 16px;
}

.footer {
    text-align: center;
}

.footer h3{
    padding-top: 3%;
    padding-bottom: 3%;
}

.footer p{
    color: white;
}

.apropos {
  text-align: center;
  display: inline-block;
}

.apropos a{
    color: white;
    text-align: center;
}

.hrfooter {
    border: 0.5px solid white;
    margin-right: 30%;
    margin-left: 30%;
}

.presse a{
    color: white;
    text-align: center;
}

.footer a {
    color: white;
}

.copyrights {
    margin-top: 3%;
}
.letterblue {
    color: #49ada6;
}

.contact i{
    margin-top: 3%;
    background-color: #49ada6;
    width: 45px;
    height: 45px;
    padding: 2%;
    border-radius: 50%;
}

/* Login Register */

.login {
    margin-top: 15%;
}

.btnlogin {
    background-color: #49ada6;
    color: white;
}

.alogin {
    color: grey;
    font-size: 12px;
}

.register {
    margin-top: 15%;
}

/* Create Event */

.createeventbody{
    background-color: white;
}

.createeventh {
    padding-top: 4.5%;
    padding-bottom: 0.2%;
    text-align: center;
    background-color: #66868c;
    color: white;
}

.number {
    background-color: #49ada6;
    font-size: 25px;
    color: white;
    padding: 0.2% 1%;
}

.numbevent {
    color: gray;
    margin-top: 2.5%;
}

.numbevent2 {
    color: gray;
}

.hrevent {
    border: 1px solid gray;
    margin-top: -8.5px;
}

.createeventmap iframe {
    pointer-events: none;
    height: 380px;
}

.trhead {
    background-color: #F5F5F5;
    border-bottom: 1px solid;
    border-color: #bfbfbf;
}

.createeventtable {
    width: 100%;
    text-align: left;
    border-radius: 5px;
    background-color: white;
    overflow: hidden;
}
.createeventtable tr{
    border-bottom: 1px solid;
    border-color: #bfbfbf;
}

.createeventtable td{
    padding: 1% 2%;
}

.createeventtable i{
    color: #49ada6;
    margin-right: 15%;
}

.createeventtable input {
    width: 90%;
}

.bordertableevent {
    border:1px solid;
    border-color: #bfbfbf;
    border-radius: 5px;
}

.parametresbillet {
    background-color: #F5F5F5;
    border-top:1px solid;
    border-color: #bfbfbf;
    padding: 1% 2%;
}

.billethr {
    border: 1px solid black;
    margin-top: -0.75%;
}

.ajoutbillet {
    text-align: center;
}

.btnbillet {
    background-color: #49ada6;
    border: none;
    border-radius: 3px;
    padding: 0.5% 1%;
    margin-right: 1%;
    margin-left: 1%;
}

.btnbillet a{
    color: white;
    text-decoration: none;
}

/* Show Event */

.bgshowevent {
    background-color: white;
}

.imgshowevent {
    padding: 0;
    width: 100%;
}

.showeventh {
    text-align: center;
    background-color: #66868c;
    color: white;
    margin-top: 0;
    padding: 0.3%;

}

.showeventtitle {
    clear: both;
}

.showeventh2 {
    font-weight: bold;
    color: #49ada6;
    float: left;
    margin-top: 1%;
}

.showeventh3 {
    float: right;
    margin-top: 1.5%;
}

.showeventcontent {
    margin-top: 1%;
    text-align: justify;
}

.showtags {
    font-weight: bold;
}

.showbtn i{
    background-color: #49ada6;
    width: 40px;
    height: 40px;
    padding: 7px;
    border-radius: 50%;
    color: white;
    margin-right: 1%;
    text-align: center;
}

.tableshow {
    width: 100%;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.tableshow td {
    border-bottom: 1px solid black;
    padding-bottom: 1%;
    padding-top: 1%;
}

.btnshow {
    background-color: #49ada6;
    font-size: 20px;
    border: none;
    border-radius: 3px;
}

.btnshow a {
    color: white;
    text-decoration: none;
}

.imgshoworga {
    margin-top: 5%;
    height: auto;
    width: 100%;
    border: 1px solid;
    border-color: #49ada6;
}

.showbtn2 {
    text-align: right;
}
.showbtn2 i{
    background-color: #49ada6;
    width: 40px;
    height: 40px;
    padding: 7px;
    border-radius: 50%;
    color: white;
    margin-right: 1%;
    text-align: center;
}

.showorgacontent {
    text-align: justify;
}

.eventshowa {
    color: gray;
    text-decoration: none;
}

.btnshoworga {
    text-align: center;
}

.maps iframe{
    pointer-events: none;
    height: 600px;
}
/* Reponsive Homepage */

@media screen and (max-width: 667px) {
    .btnevent {
        width: 100%;
        text-align: center;
        border-radius: 0;
        margin-top: 0.5%;
        margin-right: 0;
        padding: 1%;
    }

    .btnevent a {
        font-size: 20px;
    }

    .priceevent {
        display: none;
    }

    .priceevent2 {
        display: inline-block;
        color: #66868c;
    }

    .dateevent {
        display: block;
        color: #66868c;
    }
}

