@font-face {
    font-family: OpenSansLight;
    src: url('../../storage/fonts/OpenSans-Light.ttf');
}

body {
	font-family: 'OpenSansLight';
}

p {
	font-size: 14px;
	margin-bottom: 0px;
	margin-top: 0px;
}


.ticket {
	width: 650px;
	height: 237px;
	background-image: url('../img/ticket_bg_pdf.png');
	background-size: cover;
	border:1px solid black;
}

.bleu {
	width: 460px;
	height:237px;
	float: left;
	display: inline-block;

}

.bleu h2 {
	color: white;
	font-family: 'OpenSansLight' !important;
	font-size: 1.5em;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
	text-transform: uppercase;
}

.host {
	color: white;
	text-align: right;
	margin-right: 40px;
	margin-top: -20px;
	/*font-size: 1.3em;*/
}



.loca {
	color: white;
	margin-left: 40px;
}

.img-loca{
	width: 13px;
	display: inline-block;
}
.img-loca img{
	height: 20px;
}
.infos{
	display: inline-block;
	margin-top: -30px;
}

.adresse {
	color: white;
	margin-left: 57px;
	margin-top: -14px;
}

.num {
	text-align: right;
	margin-right: -50px;
	margin-top: -30px;
}

.blanc {
	height:237px;
	width: 180px;
	float: right;
	display: inline-block;
	font-size: 12px !important;


}

.titre {
	text-align: center;
	text-transform: uppercase;
	margin-left: -24px;
}

.hostblanc {
	text-align: right;
}



.nomprenom {
	margin-top: 70px !important;
}








